body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 14px 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-item a:hover {
    background-color: #575757;
}

.search input {
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-left: 300px;
}